@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans JP", "Roboto", "M PLUS 1", sans-serif;
}

img {
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6, ul, li, dt, dl, dd, p {
  overflow: hidden;
}

/* colors */
/* button */
.l-footer {
  background-image: url(../images/footer_img-tablet.jpg);
  height: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .l-footer {
    height: 14vw;
  }
}
@media screen and (max-width: 768px) {
  .l-footer {
    justify-content: space-around;
    height: 25vw;
  }
}

.l-header {
  background-color: #FFF7EF;
}
.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11vw;
}
@media screen and (max-width: 1200px) {
  .l-header__inner {
    flex-direction: column;
    justify-content: space-around;
    margin-top: auto;
    height: 23vw;
  }
}
@media screen and (max-width: 768px) {
  .l-header__inner {
    height: 48vw;
  }
}

.l-main {
  background-color: #FFFDFA;
}

.l-sidebar {
  width: 20vw;
  background-color: #F2EDE9;
  left: 0;
  transition: left 0.2s ease-in-out;
}
@media screen and (max-width: 1200px) {
  .l-sidebar {
    position: absolute;
    top: 0;
    width: var(--tablet-width);
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .l-sidebar {
    width: var(--phone-width);
  }
}
.l-sidebar.active {
  height: 950px;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .l-sidebar.active {
    left: calc(var(--tablet-width) * -1);
  }
}
@media screen and (max-width: 768px) {
  .l-sidebar.active {
    left: calc(var(--phone-width) * -1);
  }
}

/* 横線 */
.c-border {
  color: #FFF;
}
.c-border--outin {
  width: 3.6vw;
  border-bottom: 4px solid;
  margin: 2.5vw 0 0 0;
}
@media screen and (max-width: 1200px) {
  .c-border--outin {
    width: 4vw;
    border-bottom: 5px solid;
  }
}
@media screen and (max-width: 768px) {
  .c-border--outin {
    width: 10vw;
  }
}
.c-border--map {
  border-bottom: 2px solid #FFF;
  width: 4.3vw;
  margin: 2vw 0 2.5vw 0;
}
@media screen and (max-width: 1200px) {
  .c-border--map {
    width: 8.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-border--map {
    border-bottom: 3px solid #FFF;
    width: 17vw;
    margin: 4vw 0;
  }
}

/* ボタン */
.c-button {
  width: 136px;
  height: 46px;
  background: linear-gradient(#F2EDE9, #DED8D3);
  border: 1px solid #707070;
  border-radius: 10px;
}
.c-button--header {
  font-weight: bold;
  margin: 0 1.5vw 0 0.8vw;
  color: #707070;
}
@media screen and (max-width: 1200px) {
  .c-button--header {
    height: 5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-button--header {
    width: 18vw;
    height: 10vw;
    font-size: 2.5vw;
    margin-left: 3vw;
  }
}
.c-button--card {
  width: 20vw;
  height: 5vw;
  margin-top: 4vw;
  border-radius: 60px;
  background-color: #FFF;
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
  font-size: 1vw;
  color: #707070;
}
@media screen and (max-width: 1200px) {
  .c-button--card {
    font-size: 1.8vw;
    margin: 5vw 0 1vw 0;
  }
}
@media screen and (max-width: 768px) {
  .c-button--card {
    font-size: 4vw;
    width: 44vw;
    height: 12vw;
    margin: 10vw 0 12vw 0;
  }
}
.c-button--single {
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
  width: 25vw;
  height: 6vw;
  font-size: 0.8vw;
  border-radius: 24px;
}
@media screen and (max-width: 1200px) {
  .c-button--single {
    width: 51vw;
    height: 13vw;
    font-size: 1.8vw;
    margin: 1vw 0;
  }
}
@media screen and (max-width: 768px) {
  .c-button--single {
    width: 88vw;
    height: 18vw;
    font-size: 3.8vw;
    margin-top: 6vw;
  }
}

.c-gallery--top {
  display: flex;
  justify-content: center;
}
.c-gallery--item {
  width: 100%;
  height: auto;
}

.c-hamburger {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 34px;
  color: #707070;
}
.c-hamburger--header {
  display: none;
}
@media screen and (max-width: 1200px) {
  .c-hamburger--header {
    position: absolute;
    display: block;
    top: 20px;
    right: 25px;
    font-size: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .c-hamburger--header {
    top: 8px;
    right: 8px;
    font-size: 5vw;
  }
}
.c-hamburger--sidebar {
  display: none;
  width: 9vw;
  height: 9vw;
  position: absolute;
  top: 1vw;
  right: 2vw;
}
@media screen and (max-width: 768px) {
  .c-hamburger--sidebar {
    top: 2vw;
    right: 2vw;
  }
}
.c-hamburger--sidebar::before, .c-hamburger--sidebar::after {
  content: "";
  position: absolute;
  top: 50%;
  background-color: #707070;
  width: 7vw;
  height: 1vw;
  left: calc(50% - 7vw/2);
}
@media screen and (max-width: 768px) {
  .c-hamburger--sidebar::before, .c-hamburger--sidebar::after {
    width: 9vw;
    height: 0.8vw;
    left: calc(50% - 9vw/2);
  }
}
.c-hamburger--sidebar::before {
  transform: rotate(45deg);
}
.c-hamburger--sidebar::after {
  transform: rotate(-45deg);
}
@media screen and (max-width: 1200px) {
  .c-hamburger--sidebar {
    display: block;
  }
}

/* 虫眼鏡 */
.c-grass {
  background-image: url(../images/search01.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  left: 10px;
}
@media screen and (max-width: 768px) {
  .c-grass {
    width: 40px;
    height: 40px;
    background-size: 4.8vw;
    left: 2.5vw;
  }
}

/*  input ボタン */
.c-input {
  width: 396px;
  height: 46px;
  background-color: #FFF;
  border: 1px solid #707070;
  border-radius: 10px;
}
.c-input--header {
  position: relative;
  padding-left: 50px;
  width: 21vw;
}
@media screen and (max-width: 1200px) {
  .c-input--header {
    width: 45vw;
    height: 5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-input--header {
    width: 53vw;
    height: 10vw;
    font-size: 2.3vw;
    padding-left: 10vw;
  }
}

/* 基本 layout 設定 */
.c-layout {
  position: relative;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}
.c-layout .l-header {
  grid-column: 1/2;
  grid-row: 1/2;
}
.c-layout .l-main {
  grid-column: 1/2;
  grid-row: 2/3;
}
.c-layout .l-footer {
  grid-column: 1/3;
  grid-row: 3/4;
}
.c-layout .l-sidebar {
  grid-column: 2/3;
  grid-row: 1/3;
}

.c-list--item {
  list-style: inside;
  list-style-type: auto;
}

/* outin-box 中身 */
.c-outin {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 1.7vw;
}
.c-outin--takeout {
  margin-right: 3vw;
  background-image: url(../images/home_take-out_.jpg);
}
@media screen and (max-width: 1200px) {
  .c-outin--takeout {
    margin-right: 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-outin--takeout {
    margin-right: 0;
    padding: 3vw;
  }
}
.c-outin--eatin {
  margin-left: 3vw;
  background-image: url(../images/home-eat_in.jpg);
}
@media screen and (max-width: 1200px) {
  .c-outin--eatin {
    margin-left: 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-outin--eatin {
    margin-left: 0;
    padding: 3vw;
  }
}
.c-outin__block {
  display: grid;
  gap: 1.7vw;
}
@media screen and (max-width: 768px) {
  .c-outin__block {
    gap: 3vw;
  }
}
.c-outin__inner {
  align-items: end;
  box-sizing: border-box;
  padding: 1.5vw;
  background-color: #FFF;
  opacity: 80%;
}
@media screen and (max-width: 768px) {
  .c-outin__inner {
    padding: 3vw;
  }
}

.c-page {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2vw;
  height: 2.2vw;
  font-size: 1.3vw;
  margin: 0 0.5vw;
  color: #707070;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .c-page {
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
    margin: 0 1vw;
  }
}
@media screen and (max-width: 768px) {
  .c-page {
    font-family: "M PLUS 1", sans-serif;
    font-weight: 400;
    font-size: 3.5vw;
    height: 5vw;
    width: 5vw;
  }
}
.c-page--text {
  width: auto;
  height: auto;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .c-page--text {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .c-page--first {
    justify-content: right;
  }
}
.c-page--previous {
  display: none;
}
@media screen and (max-width: 768px) {
  .c-page--previous {
    display: flex;
    width: auto;
  }
}
.c-page--number {
  border: 1px solid #707070;
}
.c-page--number:hover {
  background-color: #3C2B1C;
  color: #FFF;
}
.c-page--number.onColor {
  background-color: #3C2B1C;
}
@media screen and (max-width: 768px) {
  .c-page--number {
    visibility: hidden;
  }
}
.c-page--next {
  display: none;
}
@media screen and (max-width: 768px) {
  .c-page--next {
    display: flex;
    width: auto;
  }
}
.c-page--last {
  display: none;
}
@media screen and (max-width: 1200px) {
  .c-page--last {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .c-page--last {
    justify-content: left;
  }
}

/* JS class sidebar以外scrollさせない */
.c-no_scroll {
  position: -webkit-sticky;
  position: sticky;
}
.c-no_scroll.active {
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
}

/* sidebar表示時のブラインド */
.c-shadow {
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.502);
  position: fixed;
  z-index: 1;
}
.c-shadow.active {
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .c-sidemenu__container:first-child {
    padding-top: 10vh;
  }
}

.c-single--gap {
  display: grid;
  gap: 3.5vw;
}
@media screen and (max-width: 1200px) {
  .c-single--gap {
    gap: 12vw;
  }
}
.c-single-txt {
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
  font-size: 3.5vw;
  color: #3C2A10;
}
.c-single-txt--h2 {
  font-size: 2vw;
}
@media screen and (max-width: 1200px) {
  .c-single-txt--h2 {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-single-txt--h2 {
    font-size: 6.5vw;
  }
}
.c-single-txt--text {
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.5vw;
}
@media screen and (max-width: 1200px) {
  .c-single-txt--text {
    font-size: 1.6vw;
    line-height: 2.6vw;
  }
}
@media screen and (max-width: 768px) {
  .c-single-txt--text {
    font-size: 3.8vw;
    line-height: 6.6vw;
  }
}
.c-single-txt--h3 {
  font-size: 1.6vw;
}
@media screen and (max-width: 1200px) {
  .c-single-txt--h3 {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 768px) {
  .c-single-txt--h3 {
    font-size: 5vw;
  }
}
.c-single-txt--h4, .c-single-txt--h5, .c-single-txt--h6 {
  font-size: 1.2vw;
}
@media screen and (max-width: 1200px) {
  .c-single-txt--h4, .c-single-txt--h5, .c-single-txt--h6 {
    font-size: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .c-single-txt--h4, .c-single-txt--h5, .c-single-txt--h6 {
    font-size: 4vw;
  }
}
.c-single-txt--source {
  font-weight: 400;
  margin-top: 3.5vw;
  font-size: 1vw;
  height: 1.5vw;
}
@media screen and (max-width: 1200px) {
  .c-single-txt--source {
    margin-top: 5vw;
    font-size: 1.6vw;
    height: 3.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-single-txt--source {
    font-size: 3.8vw;
    height: 5.5vw;
  }
}
.c-single-txt--source--span {
  color: #4A6C9B;
  border-bottom: 1px solid #4A6C9B;
}

.c-single__img--top {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
@media screen and (max-width: 1200px) {
  .c-single__img--top {
    height: 34vw;
  }
}
.c-single__img--contents {
  display: flex;
  gap: 2vw;
}
.c-single__img--contents:nth-child(even) {
  flex-direction: row-reverse;
}
.c-single__img--foods {
  min-width: 30vw;
  max-height: 21vw;
  border: 1px solid #000;
}
@media screen and (max-width: 1200px) {
  .c-single__img--foods {
    min-width: 38vw;
    max-height: 25vw;
  }
}
.c-single__img--bottom {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .c-single__img--bottom {
    padding-bottom: 24vw;
  }
}
@media screen and (max-width: 768px) {
  .c-single__img--bottom {
    padding-bottom: 0;
  }
}
.c-single__img--pin {
  min-width: 30vw;
  max-height: 40vw;
  border: 1px solid #000;
}
@media screen and (max-width: 1200px) {
  .c-single__img--pin {
    min-width: 72vw;
    min-height: 42vw;
  }
}

.c-single--content {
  font-family: "M PLUS 1", sans-serif;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 1.5vw;
  color: #3C2A10;
}
@media screen and (max-width: 1200px) {
  .c-single--content {
    font-size: 1.7vw;
    line-height: 2.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-single--content {
    font-size: 4.2vw;
    line-height: 6.5vw;
  }
}

/* text */
.c-text {
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
  color: #3C2A10;
}
.c-text--outin_content {
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 2vw;
}
@media screen and (max-width: 1200px) {
  .c-text--outin_content {
    font-size: 1.6vw;
    line-height: 2.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-text--outin_content {
    font-size: 4vw;
    line-height: 7vw;
  }
}
.c-text--map {
  position: relative;
  font-size: 0.9vw;
  line-height: 2vw;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .c-text--map {
    font-size: 1.5vw;
    line-height: 3.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-text--map {
    font-size: 3vw;
    line-height: 8vw;
  }
}
.c-text--footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-weight: lighter;
  font-size: 1.1vw;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .c-text--footer {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 768px) {
  .c-text--footer {
    font-size: 3vw;
  }
}
.c-text--copyright {
  font-weight: lighter;
  font-size: 0.7vw;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .c-text--copyright {
    font-size: 1vw;
  }
}
@media screen and (max-width: 768px) {
  .c-text--copyright {
    font-size: 2vw;
  }
}
.c-text--menu-item {
  color: #707070;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.6vw;
  margin-top: 1.7vw;
  margin-left: 1.1vw;
}
@media screen and (max-width: 1200px) {
  .c-text--menu-item {
    font-size: 2.5vw;
    line-height: 5vw;
    margin-left: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .c-text--menu-item {
    font-size: 3.5vw;
    line-height: 8vw;
    margin-left: 5vw;
  }
}
.c-text--archive {
  font-size: 32px;
  margin-left: 32px;
  color: #FFF;
}
@media screen and (max-width: 768px) {
  .c-text--archive {
    margin: 20px 0 0 0;
  }
}
.c-text--info {
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 1.3vw;
  color: #3C2A10;
  margin: 1.8vw 0 2vw 0;
}
@media screen and (max-width: 1200px) {
  .c-text--info {
    font-size: 2vw;
    line-height: 3.5vw;
    margin: 4vw 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  .c-text--info {
    font-size: 3.5vw;
    margin-top: 4vw;
    line-height: 6vw;
  }
}
.c-text--card {
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 1.6vw;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .c-text--card {
    font-size: 1.8vw;
    line-height: 2.8vw;
  }
}
@media screen and (max-width: 768px) {
  .c-text--card {
    font-size: 3.5vw;
    line-height: 6vw;
  }
}
.c-text--single {
  font-size: 0.8vw;
  padding-bottom: 6vw;
}
@media screen and (max-width: 1200px) {
  .c-text--single {
    font-size: 1.7vw;
    padding-bottom: 7vw;
  }
}
@media screen and (max-width: 768px) {
  .c-text--single {
    font-size: 3.7vw;
  }
}

/* title */
.c-title {
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-weight: bold;
}
.c-title--header {
  font-size: 4vw;
  margin-left: 4.5vw;
}
@media screen and (max-width: 1200px) {
  .c-title--header {
    font-size: 5vw;
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .c-title--header {
    font-size: 10vw;
  }
}
.c-title--front {
  display: flex;
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
  font-size: 3vw;
  margin-left: 4vw;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .c-title--front {
    font-size: 4.5vw;
    margin-left: 10vw;
  }
}
@media screen and (max-width: 768px) {
  .c-title--front {
    font-size: 10vw;
    margin-left: 5vw;
  }
}
.c-title--outin_title {
  font-size: 4vw;
  padding-top: 0.5vw;
  color: #EAEAEA;
}
@media screen and (max-width: 1200px) {
  .c-title--outin_title {
    font-size: 4.5vw;
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .c-title--outin_title {
    font-size: 11vw;
  }
}
.c-title--outin_subtitle {
  font-family: "M PLUS 1", sans-serif;
  color: #3C2A10;
  font-size: 2vw;
  padding-bottom: 1.5vw;
}
@media screen and (max-width: 1200px) {
  .c-title--outin_subtitle {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-title--outin_subtitle {
    font-size: 5vw;
  }
}
.c-title--map {
  font-family: "M PLUS 1", sans-serif;
  color: #FFF;
  font-size: 2vw;
}
@media screen and (max-width: 1200px) {
  .c-title--map {
    font-size: 3.3vw;
  }
}
@media screen and (max-width: 768px) {
  .c-title--map {
    font-size: 7vw;
  }
}
.c-title--sidebar-title {
  font-size: 1.8vw;
  padding-top: 4.5vw;
  padding-bottom: 2.3vw;
}
@media screen and (max-width: 1200px) {
  .c-title--sidebar-title {
    visibility: hidden;
  }
}
.c-title--menu {
  font-family: "M PLUS 1", sans-serif;
  width: 40%;
  font-size: 1.3vw;
  margin-top: 2.7vw;
}
@media screen and (max-width: 1200px) {
  .c-title--menu {
    font-size: 3.7vw;
    margin-top: 9vw;
    margin-bottom: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .c-title--menu {
    font-size: 5.5vw;
    margin-top: 14vw;
    margin-bottom: 7vw;
  }
}
.c-title--archive {
  font-size: 80px;
  color: #FFF;
}
.c-title--info {
  font-family: "M PLUS 1", sans-serif;
  color: #3C2A10;
  font-size: 2vw;
}
@media screen and (max-width: 1200px) {
  .c-title--info {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-title--info {
    font-size: 7vw;
  }
}
.c-title--card-ttl {
  font-size: 2vw;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .c-title--card-ttl {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 768px) {
  .c-title--card-ttl {
    font-size: 6vw;
  }
}
.c-title--card-sub {
  font-size: 1.2vw;
  color: #FFF;
  margin-top: 2.2vw;
  margin-bottom: 1.2vw;
}
@media screen and (max-width: 1200px) {
  .c-title--card-sub {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 768px) {
  .c-title--card-sub {
    font-size: 4vw;
    margin-top: 6vw;
  }
}
.c-title--single {
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
  font-size: 3vw;
  margin-left: 4vw;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .c-title--single {
    font-size: 7vw;
    margin-left: 8vw;
  }
}
@media screen and (max-width: 768px) {
  .c-title--single {
    font-size: 9vw;
    margin-left: 8vw;
  }
}

/* TakeOut,EatIn タイトル設定
*****************************************/
.outin_menu {
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-weight: bold;
}
.outin_menu li {
  font-size: 4vw;
  padding: 0;
  margin: 0;
  color: #EAEAEA;
}
@media screen and (max-width: 1200px) {
  .outin_menu li {
    font-size: 4.5vw;
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .outin_menu li {
    font-size: 11vw;
  }
}

/* サイドメニュー設定
*************************************/
.sidebar-menu {
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .sidebar-menu > li:first-child {
    padding-top: 10vh;
  }
}

.sidebar-menu {
  padding-bottom: 64vw;
}

.sidebar-menu > li {
  font-family: "M PLUS 1", sans-serif;
  font-size: 1.3vw;
  margin-top: 2.7vw;
}
@media screen and (max-width: 1200px) {
  .sidebar-menu > li {
    font-size: 3.7vw;
    margin-top: 9vw;
    margin-bottom: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .sidebar-menu > li {
    font-size: 5.5vw;
    margin-top: 14vw;
    margin-bottom: 7vw;
  }
}

/* サブメニュー設定 */
.sub-menu {
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-weight: bold;
  width: auto;
}
.sub-menu > li {
  color: #707070;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.6vw;
  margin-top: 1.7vw;
  margin-left: 1.1vw;
}
@media screen and (max-width: 1200px) {
  .sub-menu > li {
    font-size: 2.5vw;
    line-height: 5vw;
    margin-left: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .sub-menu > li {
    font-size: 3.5vw;
    line-height: 8vw;
    margin-left: 5vw;
  }
}

/*  ページネーション設定
***********************************/
.wp-pagenavi {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28vw;
  height: 3vw;
  font-size: 1.3vw;
  margin: 0 0.5vw;
  color: #707070;
}
@media screen and (max-width: 1200px) {
  .wp-pagenavi {
    width: 36vw;
    height: 4vw;
    font-size: 2vw;
    margin: 0 1vw;
  }
}
@media screen and (max-width: 768px) {
  .wp-pagenavi {
    justify-content: space-between;
    font-family: "M PLUS 1", sans-serif;
    font-weight: 400;
    font-size: 3.5vw;
    height: 8vw;
    width: 72vw;
    margin-left: 7vw;
  }
}

span.pages {
  display: flex;
  width: 8vw;
  height: 2vw;
  font-size: 1.3vw;
  margin: 0.5vw;
  align-items: center;
  justify-content: flex-end;
  border: none;
}
@media screen and (max-width: 1200px) {
  span.pages {
    font-size: 2vw;
  }
}
@media screen and (max-width: 768px) {
  span.pages {
    display: none;
    width: 16vw;
    height: 6vw;
    font-size: 5vw;
  }
}

a.previouspostslink, a.nextpostslink {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2vw;
  height: 2.2vw;
  font-size: 1.3vw;
  margin: 0 0.5vw;
  color: #707070;
  overflow: hidden;
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 1200px) {
  a.previouspostslink, a.nextpostslink {
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
  }
}
@media screen and (max-width: 768px) {
  a.previouspostslink, a.nextpostslink {
    align-items: self-end;
    font-family: "M PLUS 1", sans-serif;
    font-weight: 400;
    font-size: 8vw;
    height: 8vw;
    width: 12vw;
  }
}

span.current {
  background-color: #3C2B1C;
  color: #FFF;
}

.current, .smaller, .larger {
  display: flex;
  border: 1px solid #000;
  width: 2.2vw;
  height: 2.2vw;
  margin: 0.5vw;
  color: #707070;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .current, .smaller, .larger {
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .current, .smaller, .larger {
    visibility: hidden;
    width: 4vw;
    height: 4vw;
    font-size: 2.5vw;
  }
}
.current:hover, .smaller:hover, .larger:hover {
  background-color: #3C2B1C;
  color: #FFF;
}
.current.onColor, .smaller.onColor, .larger.onColor {
  background-color: #3C2B1C;
  color: #707070;
}

.first, .extend, .last {
  display: none;
}

/* 「ショップ情報」「ヒストリー」設定
**************************************/
.p-footer {
  display: flex;
  justify-content: center;
}

.footer--shop > li,
.footer--history > li {
  color: #FFF;
  margin: 0;
}

.footer--shop > li > a::after {
  content: "";
  display: inline-block;
  height: 25px;
  width: 2px;
  background-color: #fff;
  margin: -4px 15px;
}

.p-card--list {
  display: flex;
  justify-content: flex-end;
  width: auto;
  min-height: 24vw;
  background-color: #3C2B1C;
}
@media screen and (max-width: 768px) {
  .p-card--list {
    flex-direction: column;
  }
}
.p-card--img {
  width: 62%;
  height: 29vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .p-card--img {
    height: 39vw;
  }
}
@media screen and (max-width: 768px) {
  .p-card--img {
    width: 100%;
    height: 60vw;
  }
}
.p-card--contents {
  width: 50%;
  margin: 4vw 3vw 1vw 3vw;
}
@media screen and (max-width: 768px) {
  .p-card--contents {
    width: auto;
    margin: 8vw 5vw 0 5vw;
  }
}
.p-card--contents p {
  font-family: "Roboto", sans-serif;
  color: #FFF;
}
.p-card--button {
  text-align: center;
}

.p-cite {
  padding: 3vw;
  background-color: #F5F5F5;
}
@media screen and (max-width: 1200px) {
  .p-cite {
    padding: 6vw;
  }
}

.p-code {
  font-family: "M PLUS 1", sans-serif;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 1.3vw;
  padding: 1.6vw;
  color: #3C2A10;
  background-color: #F5F5F5;
}
@media screen and (max-width: 1200px) {
  .p-code {
    font-size: 1.6vw;
    line-height: 2.3vw;
    padding: 4.6vw;
  }
}
@media screen and (max-width: 768px) {
  .p-code {
    font-size: 3.8vw;
    line-height: 6.3vw;
    padding: 10.6vw;
  }
}

.p-contents {
  display: grid;
  gap: 2vw;
  padding: 3vw 5vw 9vw 5vw;
}
@media screen and (max-width: 1200px) {
  .p-contents {
    padding-top: 5vw;
    padding-bottom: 13vw;
  }
}
@media screen and (max-width: 768px) {
  .p-contents {
    gap: 4vw;
    padding-bottom: 16vw;
  }
}

.p-galleries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
}
@media screen and (max-width: 1200px) {
  .p-galleries {
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .p-galleries {
    grid-template-columns: auto;
    gap: 6vw;
  }
}

.p-list-box {
  font-family: "M PLUS 1", sans-serif;
  font-weight: 400;
  display: grid;
  gap: 3.5vw;
  font-size: 0.8vw;
  margin-left: 1vw;
  line-height: 1.2vw;
  color: #3C2A10;
}
@media screen and (max-width: 1200px) {
  .p-list-box {
    gap: 6.5vw;
    font-size: 1.6vw;
    line-height: 2.4vw;
  }
}
@media screen and (max-width: 768px) {
  .p-list-box {
    gap: 13.5vw;
    font-size: 4vw;
    line-height: 6.4vw;
  }
}

/* google map layout */
.p-map {
  position: relative;
  height: auto;
  background-color: rgb(0, 0, 0);
}
.p-map__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.p-map__google-map {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 70%;
}
.p-map__section {
  position: relative;
  width: 50vw;
  padding: 6vw;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .p-map__section {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .p-map__section {
    padding: 10vw;
  }
}
.p-map__bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50vw;
}
@media screen and (max-width: 1200px) {
  .p-map__bg-layer {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .p-map__bg-layer {
    height: 60%;
  }
}

/* sidebar menu */
.p-menu {
  padding-left: 2.4vw;
}
@media screen and (max-width: 1200px) {
  .p-menu {
    padding-left: 6.4vw;
  }
}
@media screen and (max-width: 768px) {
  .p-menu {
    padding-left: 11vw;
  }
}

/* outin-Box 外枠 */
.p-outin {
  display: flex;
  justify-content: center;
  padding: 5vw 5vw;
}
@media screen and (max-width: 1200px) {
  .p-outin {
    padding: 3.5vw 3.5vw;
  }
}
@media screen and (max-width: 768px) {
  .p-outin {
    display: grid;
    gap: 3vw;
    flex-direction: column;
    padding-bottom: 10vw;
  }
}
.p-outin__box {
  display: flex;
  width: 100%;
  min-height: 63vw;
}
@media screen and (max-width: 1200px) {
  .p-outin__box {
    min-height: 83vw;
  }
}
@media screen and (max-width: 768px) {
  .p-outin__box {
    min-height: 143vw;
  }
}
.p-outin__inner {
  display: grid;
  grid-template-rows: 300px 1fr;
}
.p-outin__title {
  grid-row: 1/2;
}
.p-outin__content {
  grid-row: 3/4;
}

.p-pagenation {
  display: flex;
  justify-content: center;
  height: 5vw;
  margin-bottom: 3vw;
}
@media screen and (max-width: 768px) {
  .p-pagenation {
    height: 8vw;
    margin-bottom: 7.5vw;
  }
}

/* input タグの設定 */
.p-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-search__container {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow-y: hidden;
}
.p-search__input:focus::-moz-placeholder {
  opacity: 0;
}
.p-search__input:focus::placeholder {
  opacity: 0;
}
.p-search__grass {
  position: absolute;
  align-items: center;
}

.p-singles {
  padding: 4vw 5vw 8vw 5vw;
  display: grid;
  gap: 3.5vw;
}
@media screen and (max-width: 1200px) {
  .p-singles {
    padding: 7vw 6vw 10vw 6vw;
    gap: 6vw;
  }
}
@media screen and (max-width: 768px) {
  .p-singles {
    gap: 8vw;
  }
}

.p-single__container {
  display: grid;
  gap: 3vw;
}
@media screen and (max-width: 1200px) {
  .p-single__container {
    gap: 6vw;
  }
}
@media screen and (max-width: 768px) {
  .p-single__container {
    gap: 7vw;
  }
}

.p-table {
  font-family: "M PLUS 1", sans-serif;
  font-weight: 400;
  font-size: 0.8vw;
  padding: 1.6vw;
  color: #3C2A10;
  background-color: #FFF;
  border: 1px solid #707070;
}
@media screen and (max-width: 1200px) {
  .p-table {
    font-size: 1.6vw;
    padding: 3.6vw;
  }
}
@media screen and (max-width: 768px) {
  .p-table {
    font-size: 4vw;
    padding: 6.6vw;
    height: 18vw;
    border: 2px solid #707070;
  }
}
.p-table--width {
  width: 35%;
}
@media screen and (max-width: 768px) {
  .p-table--width {
    width: 40%;
  }
}

.p-titles {
  display: grid;
  gap: 3vw;
}
@media screen and (max-width: 1200px) {
  .p-titles {
    gap: 6vw;
  }
}
@media screen and (max-width: 768px) {
  .p-titles {
    gap: 8vw;
  }
}

/* header下のvisual
------------------ */
/* front-page */
.p-visual {
  display: flex;
  align-items: center;
  height: 23vw;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* archive-page */
}
.p-visual--front {
  background-image: url(../images/mainvisual-sp.jpg);
}
@media screen and (max-width: 1200px) {
  .p-visual--front {
    height: 40vw;
  }
}
@media screen and (max-width: 768px) {
  .p-visual--front {
    height: 80vw;
  }
}
.p-visual--archive {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/page-title_arcive@2x.jpg);
  height: 12vw;
  padding-left: 88px;
}
@media screen and (max-width: 1200px) {
  .p-visual--archive {
    height: 40vw;
  }
}
@media screen and (max-width: 768px) {
  .p-visual--archive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80vw;
    width: 100%;
    padding-left: 50px;
    background-position: unset;
  }
}
.p-visual--single {
  background-image: url(../images/single-visual.png);
}
@media screen and (max-width: 1200px) {
  .p-visual--single {
    height: 64vw;
  }
}
.p-visual--shop {
  background-image: url(../images/shop.png);
}
@media screen and (max-width: 1200px) {
  .p-visual--shop {
    height: 64vw;
  }
}

.u-gap {
  display: grid;
  gap: 1vw;
}
@media screen and (max-width: 1200px) {
  .u-gap {
    gap: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .u-gap {
    gap: 4vw;
  }
}

.u-width {
  width: 100vw;
}

@media screen and (min-width: 1201px) {
  .u-height {
    height: 70vw;
  }
}

.u-title {
  height: 4vw;
}
@media screen and (max-width: 1200px) {
  .u-title {
    height: 10vw;
  }
}
@media screen and (max-width: 768px) {
  .u-title {
    height: 12vw;
    margin: auto;
  }
}

.u-revert {
  padding: revert;
}
@media screen and (max-width: 768px) {
  .u-revert {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .u-revert2 {
    padding: revert;
  }
}

.u-search {
  height: 10vw;
}
@media screen and (max-width: 768px) {
  .u-search {
    width: 80vw;
  }
}

/*
Foundation
----------------------------- */
/*
Layout
----------------------------- */
/*
Component
----------------------------- */
/*
Project
----------------------------- */
/*
Utility
----------------------------- */
/*# sourceMappingURL=hamburger.css.map */