@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

/* outin-box 中身 */

.c-outin {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 1.7vw;
    &--takeout {
        margin-right: 3vw;
        background-image: url(../../../images/home_take-out_.jpg);
        @include m.mq(md) {
            margin-right: 1.5vw;
        }
        @include m.mq(sp) {
            margin-right: 0;
            padding: 3vw;
        }
    }
    &--eatin {
        margin-left: 3vw;
        background-image: url(../../../images/home-eat_in.jpg);
        @include m.mq(md) {
            margin-left: 1.5vw;
        }
        @include m.mq(sp) {
            margin-left: 0;
            padding: 3vw;
        }
    }
    &__block {
        display: grid;
        gap: 1.7vw;
        @include m.mq(sp) {
            gap: 3vw;
        }
    }
    &__inner {
        align-items: end;
        box-sizing: border-box;
        padding: 1.5vw;
        background-color: v.$c-white;
        opacity: 80%;
        @include m.mq(sp) {
            padding: 3vw;
        }
    }
}