@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

.c-page {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2vw;
    height: 2.2vw;
    font-size: 1.3vw;
    margin: 0 0.5vw;
    color: v.$c-text;
    cursor: pointer;
    @include m.mq(md) {
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
        margin: 0 1vw;
    }
    @include m.mq(sp) {
        font-family: 'M PLUS 1', sans-serif;
        font-weight: 400;
        font-size: 3.5vw;
        height: 5vw;
        width: 5vw;
    }
    &--text {
        width: auto;
        height: auto;
        font-size: 16px;
        @include m.mq(sp) {
            display: none;
        }
    }
    &--first {
        @include m.mq(sp) {
            justify-content: right;
        }
    }
    &--previous {
        display: none;
        @include m.mq(sp) {
            display: flex;
            width: auto;
        }
    }
    &--number {
        border: 1px solid v.$c-text;
        &:hover {
            background-color: v.$c-darkBrown;
            color: v.$c-white;
        }
        &.onColor {
            background-color: v.$c-darkBrown;
        }
        @include m.mq(sp) {
            visibility: hidden;
        }
    }
    &--next {
        display: none;
        @include m.mq(sp) {
            display: flex;
            width: auto;
        }
    }
    &--last {
        display: none;
        @include m.mq(md) {
            display: flex;
        }
        @include m.mq(sp) {
            justify-content: left;
        }
    }
}