@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

/* sidebar表示時のブラインド */

.c-shadow {
    // sidbarのボタンを押したら発動
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.502);
    position: fixed;
    z-index: 1;
    &.active {
        height: 100%;
    }
}