@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

/* title */

.c-title {
    font-family: 'Roboto', sans-serif;
    color: v.$c-text;
    font-weight: bold;

    &--header {
        font-size: 4vw;
        margin-left: 4.5vw;
        @include m.mq(md) {
            font-size: 5vw;
            margin-left: 0;
        }
        @include m.mq(sp) {
            font-size: 10vw;
        }
    }
    &--front {
        display: flex;
        text-align: center;
        font-family: 'M PLUS 1', sans-serif;
        font-size: 3vw;
        margin-left: 4vw;
        color: v.$c-white;
        @include m.mq(md) {
            font-size: 4.5vw;
            margin-left: 10vw;
        }
        @include m.mq(sp) {
            font-size: 10vw;
            margin-left: 5vw;
        }
    }
    &--outin {
        &_title {
            font-size: 4vw;
            padding-top: 0.5vw;
            color: v.$c-outin;
            @include m.mq(md) {
                font-size: 4.5vw;
                padding-top: 0;
            }
            @include m.mq(sp) {
                font-size: 11vw;
            }
        }
            &_subtitle{
                font-family: 'M PLUS 1', sans-serif;
                color: v.$c-darkGoldenBrown;
                font-size: 2vw;
                padding-bottom: 1.5vw;
                @include m.mq(md) {
                    font-size: 2.5vw;
                }
                @include m.mq(sp) {
                    font-size: 5vw;
                }
            }
        }
    &--map {
        font-family: 'M PLUS 1', sans-serif;
        color: v.$c-white;
        font-size: 2vw;
        @include m.mq(md) {
            font-size: 3.3vw;
        }
        @include m.mq(sp) {
            font-size: 7vw;
        }
    }
    &--sidebar-title {
        font-size: 1.8vw;
        padding-top: 4.5vw;
        padding-bottom: 2.3vw;
        @include m.mq(md) {
            visibility: hidden;
        }
    }
    &--menu {
        font-family: 'M PLUS 1', sans-serif;
        width: 40%;
        font-size: 1.3vw;
        margin-top: 2.7vw;
        @include m.mq(md) {
            font-size: 3.7vw;
            margin-top: 9vw;
            margin-bottom: 4vw;
        }
        @include m.mq(sp) {
            font-size: 5.5vw;
            margin-top: 14vw;
            margin-bottom: 7vw;
        }
    }
    &--archive {
        font-size: 80px;
        color: v.$c-white;
        @include m.mq(sp) {
        }
    }
    &--info {
        font-family: 'M PLUS 1', sans-serif;
        color: v.$c-darkGoldenBrown;
        font-size: 2vw;
        @include m.mq(md) {
            font-size: 4.5vw;
        }
        @include m.mq(sp) {
            font-size: 7vw;
        }
    }
    &--card-ttl {
        font-size: 2vw;
        color: v.$c-white;
        @include m.mq(md) {
            font-size: 2.8vw;
        }
        @include m.mq(sp) {
            font-size: 6vw;
        }
    }
    &--card-sub {
        font-size: 1.2vw;
        color: v.$c-white;
        margin-top: 2.2vw;
        margin-bottom: 1.2vw;
        @include m.mq(md) {
            font-size: 1.8vw;
        }
        @include m.mq(sp) {
            font-size: 4vw;
            margin-top: 6vw;
        }
    }
    &--single {
        text-align: center;
        font-family: 'M PLUS 1', sans-serif;
        font-size: 3vw;
        margin-left: 4vw;
        color: v.$c-white;
        @include m.mq(md) {
            font-size: 7vw;
            margin-left: 8vw;
        }
        @include m.mq(sp) {
            font-size: 9vw;
            margin-left: 8vw;
        }
    }
}
