@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

/* TakeOut,EatIn タイトル設定
*****************************************/
.outin_menu {//TakeOut,EatInタイトル設定
    font-family: 'Roboto', sans-serif;
    color: v.$c-text;
    font-weight: bold;
    li {
        font-size: 4vw;
        padding: 0;
        margin: 0;
        color: v.$c-outin;
        @include m.mq(md) {
            font-size: 4.5vw;
            padding-top: 0;
        }
        @include m.mq(sp) {
            font-size: 11vw;
        }
    }
}

/* サイドメニュー設定
*************************************/
.sidebar-menu {// サイドメニューフォント設定
    font-family: 'Roboto', sans-serif;
    color: v.$c-text;
    font-weight: bold;
}
.sidebar-menu > li:first-child {//「バーガー」のトップに余白をつける
    @include m.mq(md) {
        padding-top: 10vh;
    }
}
.sidebar-menu {//メニュー下に余白を入れてメニューが隠れないようにする
    padding-bottom: 56vw;
}
.sidebar-menu > li {//「バーガー」「サイド」「ドリンク」の設定
    font-family: 'M PLUS 1', sans-serif;
    font-size: 1.3vw;
    margin-top: 2.7vw;
    @include m.mq(md) {
        font-size: 3.7vw;
        margin-top: 9vw;
        margin-bottom: 4vw;
    }
    @include m.mq(sp) {
        font-size: 5.5vw;
        margin-top: 14vw;
        margin-bottom: 7vw;
    }

}

/* サブメニュー設定 */
.sub-menu {//サブメニューフォント設定
    font-family: 'Roboto', sans-serif;
    color: v.$c-text;
    font-weight: bold;
    width: auto;
    & > li {//サブメニューを右にずらす
        color: v.$c-text;
        font-weight: 400;
        font-size: 1vw;
        line-height: 1.6vw;
        margin-top: 1.7vw;
        margin-left: 1.1vw;
        @include m.mq(md) {
            font-size: 2.5vw;
            line-height: 5vw;
            margin-left: 4vw;
        }
        @include m.mq(sp) {
            font-size: 3.5vw;
            line-height: 8vw;
            margin-left: 5vw;
        }
    }
}

/*  ページネーション設定
***********************************/
.wp-pagenavi {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: 3vw;
    font-size: 1.3vw;
    margin: 0 0.5vw;
    color: v.$c-text;
    @include m.mq(md) {
        width: 36vw;
        height: 4vw;
        font-size: 2vw;
        margin: 0 1vw;
    }
    @include m.mq(sp) {
        justify-content: space-between;
        font-family: 'M PLUS 1', sans-serif;
        font-weight: 400;
        font-size: 3.5vw;
        height: 8vw;
        width: 72vw;
        margin-left: 7vw;
    }
}
span.pages {
    display: flex;
    width: 8vw;
    height: 2vw;
    font-size: 1.3vw;
    margin: 0.5vw;
    align-items: center;
    justify-content: flex-end;
    border: none;
    @include m.mq(md) {
        font-size: 2vw;
    }
    @include m.mq(sp) {
        display: none;
        width: 16vw;
        height: 6vw;
        font-size: 5vw;
    }
}
a.previouspostslink, a.nextpostslink {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2vw;
    height: 2.2vw;
    font-size: 1.3vw;
    margin: 0 0.5vw;
    color: v.$c-text;
    overflow: hidden;
    cursor: pointer;
    border: none;
    @include m.mq(md) {
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
    }
    @include m.mq(sp) {
        align-items: self-end;
        font-family: 'M PLUS 1', sans-serif;
        font-weight: 400;
        font-size: 8vw;
        height: 8vw;
        width: 12vw;
    }

}
span.current {
    background-color: v.$c-darkBrown;
    color: v.$c-white;
}
.current, .smaller, .larger {
    display: flex;
    border: 1px solid #000;
    width: 2.2vw;
    height: 2.2vw;
    margin: 0.5vw;
    color: v.$c-text;
    align-items: center;
    justify-content: center;
    @include m.mq(md) {
        width: 3vw;
        height: 3vw;
        font-size: 2vw;
    }
    @include m.mq(sp) {
        visibility: hidden;
        width: 4vw;
        height: 4vw;
        font-size: 2.5vw;
    }
    &:hover {
        background-color: v.$c-darkBrown;
        color: v.$c-white;
    }
    &.onColor {
        background-color: v.$c-darkBrown;
        color: v.$c-text;
    }

}
.first, .extend, .last {
    display: none;
}


/* 「ショップ情報」「ヒストリー」設定
**************************************/
.p-footer {
    display: flex;
    justify-content: center;
}
.footer--shop > li,
.footer--history > li {
    color: v.$c-white;
    margin: 0;
}
.footer--shop > li > a::after {
    content: "";
    display: inline-block;
    height: 25px;
    width: 2px;
    background-color: #fff;
    margin: -4px 15px;
}