@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

.p-code {
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 1.3vw;
    padding: 1.6vw;
    color: v.$c-darkGoldenBrown;
    background-color: v.$c-lightGlay;
    @include m.mq(md) {
        font-size: 1.6vw;
        line-height: 2.3vw;
        padding: 4.6vw;
    }
    @include m.mq(sp) {
        font-size: 3.8vw;
        line-height: 6.3vw;
        padding: 10.6vw;
    }
}
