@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

/* google map layout */

.p-map {
    position: relative;
    height: auto;
    background-color: rgba(0, 0, 0, 1);
    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__google-map {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 70%;
    }
    &__section {
        position: relative;
        width: 50vw;
        padding: 6vw;
        z-index: 1;
        @include m.mq(md) {
            width: 100%;
        }
        @include m.mq(sp) {
            padding: 10vw;
        }
    }
    &__bg-layer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 30%);
        width: 50vw;
        @include m.mq(md) {
            width: 100%;
        }
        @include m.mq(sp) {
            height: 60%;
        }
    }
}