@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

.p-pagenation {
    display: flex;
    justify-content: center;
    height: 5vw;
    margin-bottom: 3vw;
    @include m.mq(sp) {
        justify-content: start;
        height: 8vw;
        margin-bottom: 7.5vw;
    }
}