@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

/* input タグの設定 */

.p-search {
    display: flex;
    align-items: center;
    justify-content: center;
    &__container {
        position: relative;
        display: inline-flex;
        align-items: center;
        overflow-y: hidden;
    }
    &__input:focus::placeholder {
        opacity: 0;
    }
    &__grass {
        position: absolute;
        align-items: center;
    }
}