@use '../foundation/variable' as v;
@use '../foundation/mixin' as m;

.l-footer {
    background-image: url(../../../images/footer_img-tablet.jpg);
    height: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    @include m.mq(md) {
        height: 14vw;
    }
    @include m.mq(sp) {
        justify-content: space-around;
        height: 25vw;
    }
}