@use '../foundation/variable' as v;
@use '../foundation/mixin' as m;

.l-header {
    background-color: v.$c-header;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 11vw;
        @include m.mq(md) {
            flex-direction: column;
            justify-content: space-around;
            margin-top: auto;
            height: 23vw;
        }
        @include m.mq(sp) {
            height: 48vw;
        }
    }
}
