@use '../foundation/variable' as v;
@use '../foundation/mixin' as m;
@use 'sass:math';

.l-sidebar {
  width: 20vw;
  background-color: v.$c-side;
  left: 0;
  transition: left 0.2s ease-in-out;
  @include m.mq(md) {
    position: absolute;
    top: 0;
    width: var(--tablet-width);
    height: 100%;
  }
  @include m.mq(sp) {
    width: var(--phone-width);
  }
  &.active {
    height: 950px;
    z-index: 2;
    @include m.mq(md) {
      left: calc(var(--tablet-width) * -1);
    }
    @include m.mq(sp) {
      left: calc(var(--phone-width) * -1);
    }
  }
}
